

<p>
    Tu as oublier ton mot de passe ? Clique sur le lien ci-dessous pour en créer un nouveau !  <br><br>
    <a href="{{ url('reset_password', {username : user.username , token: user.token}) }}">Créer un nouveau mot de passe</a>.
</p>

<p>
    A plus ! 
</p>
