{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="authentification_background">
        <section class="container">
            <div class ="d-flex justify-content-center">
            <div class="form-group">
                <div class="form-class">
                    <div class="m-4 m-4">
                        <p class="pt-3 text-center form-title"><strong>Mot de passe oublié</strong></p>
                        <div style="width:90%">
                        <label for="inputUsername">Pseudo</label>                        
                        <input type="text" name="username" id="inputUsername" class="width-input border-better input-form form-control" input-form autocomplete="username" required autofocus>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="text-center">
                            <button class="border-better btn btn-primary" type="submit">
                                Demander un nouveau mot de passe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</form>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
