{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="authentification_background">
        <section class="container">
            <div class ="d-flex justify-content-center">
            <div class="form-group" style="padding-top:200px; padding-bottom:300px;">
                <div class="form-class">
                    <div class="m-4 m-4">
                        <p class="pt-3 text-center form-title"><strong>Mot de passe oublié</strong></p>
                        <div class="text-center">
                        {{ form_start(passwordForm) }}
                        <label for="inputUsername">Pseudo</label>
                        <br><br>
                        <div class="text-center" style="width:100%">
                        {{ form_row(passwordForm.username) }}
                        </div>
                        <br>
                        {{ form_end(passwordForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</form>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
