<h1>Bienvenue sur SnowTricks, la référence pour les amateurs de poudreuse ! </h1>

<p>
    Merci de confirmer votre compte en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ url('confirm', {username : user.username , token: user.token}) }}">Confirmer mon mail</a>.
</p>

<p>
    A plus ! 
</p>
