<h1>Bonjour! Bienvenue sur SnowTricks, la référence pour les amateurs de poudreuse ! </h1>

<p>
    Merci de confirmer votre compte en cliquant sur le lien ci-dessous: <br><br>
    <a href="">Confirmer mon mail</a>.
</p>

<p>
    A plus ! 
</p>
