{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="style">Cette page n'existe pas !  <br>
        <a href="/"><div class="btn btn-primary">Revenir à l'accueil</div></a></h1>
    </div>
    <a href ="/#tricks">
    <div class="bottom-right-con">
        <div class="round">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
    </a>
</div>
{% endblock %}