{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="style">Un erreur est survenue, veuillez vous rapprochez de l'administrateur du site.  <br>
    </div>
    <a href ="/#tricks">
    <div class="bottom-right-con">
        <div class="round">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
    </a>
</div>
{% endblock %}